
.btnStyle {
    display: flex;
    border: none;
    background-color: rgb(245, 245, 245);
    outline: none;
    padding: 0px 10px;
    font-size: 1.1em;
    color: rgb(10, 189, 202);
    transition: all 0.3s ease-out;
    width: 120px;
    text-align: center;
}

.btnStyle:hover {
    background-color: rgb(204, 204, 204);
    color: black;
    transition: all 0.3s ease-in;
    cursor: pointer;
}